#chatWindow {
  align-items:flex-end !important;
  background-color:lightgray !important;
  display:grid !important;
  height:100vh !important;
  justify-items:center !important;
  position:fixed !important;
  right:0px !important;
  top:0px !important;
  width:20vw !important;
  z-index:99999 !important;
}

#msgInput {
  border: none !important;
  border-radius: 3px !important;
  font-size: 1.3em !important;
  margin-bottom: 10px !important;
  padding: 8px !important;
  height: 25px !important;
  width: 90% !important;
}